<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lsf999.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDD657011CA7DCD8006BFC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD6571A1CA7DCD9006BFC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD657251CA7DCD9006BFC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
